/* * Loader */
.loader--absolute {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.loader {
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
  aspect-ratio: 1;
  background:
    radial-gradient(farthest-side, var(--primary-color) 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, var(--primary-color));
  border-radius: 50%;
  margin-left: 0.8rem;
  mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  width: 15px;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
/* * Loader */